.inbox-tab li {
    cursor: pointer;
    outline: none;
}

.inbox-tab li:active span {
    color: #459b1e;
    text-shadow: 0px 0px 4px #00ff2b6b;
}

.inbox-tab .active span {
    color: #459b1e;
}

:host ::ng-deep p-menubarsub ul {
    background: #1f1f1f;
}

:host ::ng-deep p-menubarsub ul:hover {
    background: #1f1f1f !important;
}

:host ::ng-deep p-menubar div {
    border-color: #1f1f1f !important;
}

.icon-tooltip-text {
    font-size: 12px;
    color: white;
}
